Django==4.2.5
django_environ==0.11.2
environ==1.0
django-browser-reload==1.10.0
django-compressor==4.4
django-environ==0.11.2
django-extensions==3.2.3
django-tailwind==3.6.0
django-tailwindcss==0.4.0
django_debug_toolbar==3.8.1
django-allauth==0.55.2
boto3==1.17.112
botocore==1.21.8


