Django
django_environ
environ
django-storages
django-browser-reload
django-compressor
django-environ
django-extensions
django-tailwind
django-tailwindcss
django-allauth
boto3
botocore
social-auth-app-django
# social-auth-core
psycopg2-binary==2.9.9
django_debug_toolbar


