button.prev, button.next {
    display: flex; font-size: 32px;
    align-items: center; justify-content: center;
    color: #FFF; background-color: #333;
    border-radius: 50%;
    width: 44px; height: 44px;
}


button.prev {
    position: absolute; left: 0; top: 80%;
  }
  button.next {
    position: absolute; right: 0; top: 80%;
  }