{% extends 'surveys/base.html' %} 

<head>
{% load static %}
{% load tailwind_tags %}  
</head>

{% block content %}  

<nav class="bg-teal-100 shadow-lg">
  <div class="max-w-6xl mx-auto">
    <div class="">
      <!-- <div class="flex items-center flex space-x-7"> -->
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between">
        <!-- Website Logo -->
         <div class="flex flex-wrap text-left">
          <!-- <a href="#" class="flex items-center py-4 px-2"> -->
            <img src="{% static 'media/qs-research-logo.png' %}" alt="Logo" class="h-10 w-10 mr-4" />
            <span class="font-semibold text-gray-500 text-lg"
              >QS Research</span
            >
          <!-- </a> -->
        </div> 
        <!-- Primary Navbar items -->
        <div class="hidden justify-start flex md:flex items-center space-x-1">
        

          {% if user.is_authenticated %}
     
          <div class="flex text-black-400 items-center lg:mr-20 sm:mr-0 lm:mr-0">
          Welcome 
          <div class="text-red-400 items-center font-medium italic ml-5 lg:mr-20 sm:mr-0 lm:mr-0">
          {{ user.get_username }}
          </div>
          </div>
    
     <a href="{% url 'logout' %}?next={{ request.path }}" 
     class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300">Logout</a>
   {% else %}
     <a href="{% url 'login' %}?next={{ request.path }}" 
     class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300">Login</a>
   {% endif %}

          <a
            href="{% url 'newsurvey' %}"
            class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
            >Create Survey</a
          >
          <a
            href="{% url 'submissions' %}"
            class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
            >View Survey Results</a
          >
          <a
            href="{% url 'myvotes' username=user.username  %}"
            class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
            >My Surveys</a
          >
        
        </div>
      </div>
         <!-- Mobile menu button -->
<div class="md:hidden flex items-center">
	<button class="outline-none mobile-menu-button">
		<svg
			class="w-6 h-6 text-gray-500"
			x-show="!showMenu"
			fill="none"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			viewBox="0 0 24 24"
			stroke="currentColor"
		>
		<path d="M4 6h16M4 12h16M4 18h16"></path>
		</svg>
	</button>
</div>
</div>
</div>
<!-- Mobile menu -->
<div class="hidden mobile-menu">
	<ul class="">
		<li class="active"><a href="index.html" class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold">Home</a></li>
		<li><a href="#services" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Services</a></li>
		<li><a href="#about" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">About</a></li>
		<li><a href="#contact" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Contact Us</a></li>
	</ul>
</div>
      

 
</nav>
  
  <h1 class="mb-4 text-green-500 italic text-2xl font-semibold text-align leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white text-center">Welcome to the Survey Site</h1>
 
 
  <div class="bg-lime-100 flex w-full py-2 rounded-2xl">
    
    <div class="flex mb-4">
    <div class="w-3/4 mb-4 ml-5 text-lg text-gray-800 dark:text-white">
      
    
Site for participate and view results from surveys related to common 
and Trending Topics. Some of our features are the following:
   
<ul class="mb-2 mt-2 max-w-md space-y-1 text-gray-400 list-inside dark:text-gray-400">
    <li class="flex ml-5 mb-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" class="w-6 h-6 mr-4">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
      </svg>
        <!-- <svg class="w-0.5 h-0.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg> -->
         Voting on Surveys for popular and trend topics.
        </li>
    <li class="flex ml-5 mb-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" class="w-6 h-6 mr-4">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
      </svg>
      
        <!-- <svg class="w-0.5 h-0.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/> -->

            See results of Past and Current Surveys.
          </li>

    <li class="flex ml-5 mb-2 items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="green" class="w-6 h-6 mr-4">
        <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
      </svg>
            <!-- <svg class="w-0.5 h-0.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/> -->
    
                Propose new Survey
    </li>
</ul>
</div>
<!-- flex flex-wrap  -->
<div class="lg:flex md:flex w-1/2 sm:w-full justify-center">
  <img class="h-auto mr-4 sm:w-full lg:w-1/5 md:w-1/5 rounded-full" src="{% static 'media/SurveyImage1.jpg' %}" alt="home" />
  <img class="h-auto mr-4 sm:w-full lg:w-1/5 md:w-1/5 rounded-full" src="{% static 'media/SurveyImage2.jpg' %}" alt="home" />
  <img class="h-auto mr-4 sm:w-full lg:w-1/5 md:w-1/5 rounded-full" src="{% static 'media/SurveyImage3.png' %}" alt="home" />
</div>
  </div>
</div>

<div class="flex lm:flex-row md:flex-row sm:flex-wrap xs:flex-wrap ml-5 mt-4">

{% for survey in surveys %}

<!-- <a href='{% url "surveyoptions" surveyID=survey.id %}'>
<h3>{{survey.topic}}</h3>

</a> -->
{% if survey.status == "Running" %}
<div class="ml-5 mb-2"> 
 <div class="max-w-sm rounded-2xl overflow-hidden shadow-lg"> 
      <svg class="h-20 w-20 text-black ml-10 mt-0" xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
      </svg>
  
    <!-- <img class="w-1/2" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
    <div class="px-6 pb-2">
      <div class="font-bold text-xl mb-2"> 
        {{survey.topic}}</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
    </div>

    <div class="flex flex-col items-center text-center">
    <a class="w-1/2"   href='{% url "surveyoptions" surveyID=survey.id %}'>
    <button class="mb-2 mt-2 text-center lg:w-1/2 w-3/4 sm:w-full text-white font-bold rounded-full bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
      Vote
    </button></a>
  </div>
   
  </div> 

</div>
{% endif %}
  {% endfor %}

 </div> 



  <footer class="bg-teal-100 rounded-lg shadow dark:bg-gray-900">
  <div class="w-full max-w-screen-xl mx-auto">
      <div class="flex flex-wrap justify-between">
        <img src="{% static 'media/qs-research-logo.png' %}" alt="Logo" class="h-14 w-14 mr-4 p-1" />
      
        <span class="block items-center text-sm my-6 sm:text-center dark:text-gray-400">© 2023 QS Research™ All Rights Reserved.</span>

       
          <ul class="flex flex-wrap lg:mr-10 sm:mr-6 lm:mr-6 items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
              <li>
                  <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
              </li>
             
              <li>
                  <a href="#" class="hover:underline">Contact</a>
              </li>
          </ul>

     
     
  </div>
</div>
</footer> 

 <script src="{% static 'js/toggle.js' %}"></script>
 
 
 {% endblock content %}