
{% extends 'surveys/base.html' %} 

<head>
  {% load static %}
  <!-- C:\Users\nicolas.ferrari\Desktop\djangosurvey\static\src\modal.css -->
  <!-- <link rel="stylesheet" href="{% static '../css/dist/styles.css' %}"/>  -->
<!--  

{% load tailwind_tags %}  -->
</head>

{% block content %}

<nav class="bg-teal-100 shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
      <div class="">
        <!-- <div class="flex items-center flex space-x-7"> -->
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between">
          <!-- Website Logo -->
           <div class="flex flex-wrap text-left">
            <!-- <a href="#" class="flex items-center py-4 px-2"> -->
              <img src="{% static 'media/qs-research-logo.png' %}" alt="Logo" class="h-10 w-10 mr-4" />
              <span class="font-semibold text-gray-500 text-lg"
                >QS Research</span
              >
            <!-- </a> -->
          </div> 

      <!-- <div class="flex flex-row-reverse justify-between">
        <div class="flex space-x-7">
           Website Logo -->
          <!-- <div>
            <a href="#" class="flex items-center py-4 px-2">
              <img src="logo.png" alt="Logo" class="h-8 w-8 mr-2" />
              <span class="font-semibold text-gray-500 text-lg"
                >Navigation</span
              >
            </a>
          </div> --> 
          <!-- Primary Navbar items -->
          <div class="hidden justify-start flex md:flex items-center space-x-1">
            {% if user.is_authenticated %}
            <div class="flex text-black-400 items-center lg:mr-20 sm:mr-0 lm:mr-0">
              Welcome 
              <div class="text-red-400 items-center font-medium italic ml-5 lg:mr-20 sm:mr-0 lm:mr-0">
              {{ user.get_username }}
              </div>
              </div>
          
              <a href="{% url 'logout' %}?next={{ request.path }}" 
              class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300">Logout</a>
            {% else %}
              <a href="{% url 'login' %}?next={{ request.path }}" 
              class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300">Login</a>
            {% endif %}


            <a
            href="{% url 'newsurvey' %}"
            class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
            >Create Survey</a
          >
       
          <a
            href="{% url 'myvotes' username=user.username  %}"
            class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
            >My Surveys</a
          >
         
            <a
              href="{% url 'home' %}"
              class="py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300"
              >Home</a
            >
            <!-- <a
               href=""
              class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
              >About</a
            >  -->
          
          </div>
        </div>
           <!-- Mobile menu button -->
  <div class="md:hidden flex items-center">
      <button class="outline-none mobile-menu-button">
          <svg
              class="w-6 h-6 text-gray-500"
              x-show="!showMenu"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke="currentColor"
          >
          <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
      </button>
  </div>
  </div>
  </div>
  <!-- Mobile menu -->
  <div class="hidden mobile-menu">
      <ul class="">
          <li class="active"><a href="index.html" class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold">Home</a></li>
          <li><a href="#services" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Services</a></li>
          <li><a href="#about" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">About</a></li>
          <li><a href="#contact" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Contact Us</a></li>
      </ul>
  </div>
</nav>

<h1 class="mb-4 text-center mt-2 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl dark:text-white">Surveys Submitted-In Progress</h1>


<table class="mx-auto py-2 text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-green-500 text-white first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg">
<!-- <table class="flex items-center">

    <thead class="bg-green-500 text-white"> -->
      <tr>
        <th scope="col" class="p-4 text-center">Title</th>
        <th scope="col" class="px-6 py-3 text-center">Date Created</th>
        <th scope="col" class="px-6 py-3 text-center">Status</th>
        <th scope="col" class="px-6 py-3 text-center">Submissions</th>
        <th scope="col" class="px-6 py-3 text-center">Results</th>
      </tr>
    </thead>
    <tbody>

        {% for poll in polls %}
      
      <tr class="bg-slate-50 border-spacing">
        <td class="px-4 py-3 text-center text-gray-900 bg-gray-200 first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg">{{poll.question}}</td>
        <td class="px-4 py-3 text-center text-gray-900 bg-gray-200 first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg">{{poll.date}}</td>
        <td class="px-4 py-3 text-center text-gray-900 bg-gray-200 first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg">{{poll.status}}</td>
        <td class="px-4 py-3 text-center text-gray-900 bg-gray-200 first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg">{{poll.submissions}}</td>
      
        <!-- <button class="bg-green-500">View Results  <td class="px-4 py-3 text-gray-900 bg-gray-200 first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg"></td></button> -->
         <td class="px-4 py-3 text-gray-900 bg-gray-200 first:rounded-tl-lg first:rounded-bl-lg last:rounded-tr-lg last:rounded-br-lg">  <button class="float-right rounded-full bg-green-500 px-4 py-px text-xs font-semibold uppercase text-green-900 antialiased" onclick="displayResults( '{{  poll.id }}' )">View Results</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <!-- style="height: 300px; width: 50%;" -->
    <div id = "myModal"   class="modal-window">
      
      <div class="modalContent"> 
      
        <div id="chartContainer" style="height: 300px; width: 40rem;"></div> 

      </div> 
      <button class="modal-btn modal-off">Close</button>
    </div>
    <div class="modal-fader"></div>

    <footer class="fixed bottom-0 left-0 z-20 w-full bg-teal-100 rounded-lg shadow dark:bg-gray-900">
      <div class="w-full max-w-screen-xl mx-auto">
          <div class="flex flex-wrap justify-between">
            <img src="{% static 'media/qs-research-logo.png' %}" alt="Logo" class="h-14 w-14 mr-4 p-1" />
          
            <span class="block items-center text-sm my-6 sm:text-center dark:text-gray-400">© 2023 QS Research™ All Rights Reserved.</span>
    
           
              <ul class="flex flex-wrap lg:mr-10 sm:mr-6 lm:mr-6 items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                  <li>
                      <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
                  </li>
                 
                  <li>
                      <a href="#" class="hover:underline">Contact</a>
                  </li>
              </ul>
    
         
         
      </div>
    </div>
    </footer> 

  <script>

    function displayResults(questionId) {

      console.log(questionId)

     $.ajax({
      
      url: `/results/${questionId}`,
      type: 'get',
      success: function(data){
        console.log('data from poll is:', data)

     
          pollResultsData(data)

      }
    })

    //  $.ajax({
    //               url: '/results/modal/{{partnerID}}',
    //               type: 'get',
             
    //               success: function(data){ 
    //                 console.log('hola hola')
    //                 console.log(data)
    //                   result = data;
                    
    //                 $('#partnerData').append('<div>' + data.months  + '</div><div>' + data.orders  + '</div><div>' + data.valueUS  + '</div>')
                    
    //                }
    //             })

    }
  </script>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script src="{% static 'js/charts.js' %}"></script>


{% endblock content %}